<%= simple_form_for(@time_period) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date, as: :date, html5: true, input_html: {value: Date.today}, label: "תאריך התחלה" %>
    <% if @garin.time_periods.blank? %>
      <%= f.input :length, collection: 1...12, label: "אורך (בחודשים)" %>
    <% else %>
      <%= f.input :length, collection: 1...12, selected: TimePeriod.last.length, label: "אורך (בחודשים)" %>
    <% end %>
    <%= f.input :money, label: "סכום שנכנס"%>
    <%= hidden_field_tag(:garin_id, @garin.id) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>
