

<%= link_to 'הוצאה חדשה', new_transaction_path(garin: @garin) %>

<strong>
  קופות
</strong>
<table class="min-w-full">
  <thead>
    <tr>
      <th>שם</th>
      <th>כסף  קיים</th>
      <th>כסף בהתחלת החודש</th>
      <th colspan='3'></th>
    </tr>
  </thead>
  <tbody>
    <% @garin.current_period.budgets.each do |budget| %>
    <tr>
      <td><%= link_to budget.name, budget %></td>
      <td><%= budget.current_money %></td>
      <td><%= budget.money %></td>
      <td><%= link_to '<i class="material-icons">edit</i>'.html_safe , edit_budget_path(budget) %></td>
      <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, budget, method: :delete, data: { confirm: 'בטוח\ה?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'קופה חדשה', new_budget_path %>

<a href="whatsapp://send?text=<%= root_url %>users/sign_up?g=<%= @garin.id %>">קישור הצטרפות לגרעין</a>
