  <div class="garin-budgets">
    <% if @garin.time_periods.blank? %>
      <%= link_to 'התחלת מחזור כלכלי חדש', new_time_period_path, class: "block p-5 lg:inline-block text-xl lg:mt-0 lg:mr-4 mb-2 lg:mb-0 " %>
    <% elsif @garin.current_period.budgets.empty? %>
      <%= link_to 'קופה חדשה', new_budget_path, class: "block p-5 lg:inline-block text-xl lg:mt-0 lg:mr-4 mb-2 lg:mb-0 " %>
    <% else %>
      <% @garin.current_period.budgets.sort.each do |budget| %>
        <%= link_to budget, class:"garin-show-budget" do %>
        <% if budget.current_money <= 0 %>
          <div class="red">
        <% elsif budget.current_money <= budget.money * 0.1 %>
          <div class="orange">
        <% else %>
          <div class="original">
        <% end %>
            <h1>
              <%= budget.name %>
            </h1>
            <span>
              <%= budget.money %>/
            </span>
            <span>
              <%= budget.current_money %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
