<div class="budget-show">
	<h1>
		<%= @budget.name %>	<%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_budget_path(@budget) %> <%= link_to "<i class='material-icons'>delete</i>".html_safe, budget_path(@budget), method: :delete, data: { confirm: "בטוח\ה?" } %>
	</h1>
	<h2>
		<span>
			<%= @budget.money %>/
		</span>
		<span>
			<%= @budget.current_money %>
		</span>
	</h2>

	<table class="data-tablea hover stripe row-border order-column" id="table" data-source="<%= transactions_path(format: :json, budget: @budget) %>">
		<thead>
			<tr>
				<th data-data="user">משתמש</th>
				<th data-data="money">כמה יצא?</th>
				<th data-data="description">פירוט</th>
				<th data-data="date">תאריך</th>
				<th data-data="budget">קופה</th>
				<th data-data="url" ></th>
			</tr>
		</thead>
	</table>

</div>
