<% if user_signed_in? %>
  <header class="flex justify-between p-3" >
    <div class="content flex flex-col  justify-between">
      <div class="text-2xl">
        <%= link_to "תקציב #{current_user.garin.name}", root_path, class:"title" if user_signed_in? %>
      </div>
      <% if current_user.garin.time_periods.present? %>
        <div class="text-xl">
          <%= current_user.garin.current_period.heb_month %>
        </div>
        <div class="">
          <span class="text-2xl"><%= current_user.garin.current_period.money %>/</span>
          <span class="font-bold text-3xl"><%= current_user.garin.current_period.current_money %></span>
        </div>
      <% end %>

      <div class="">

      </div>
    </div>
  </header>
<% end %>
<nav>
  <%= link_to "<i class='material-icons text-white text-5xl'>add</i>".html_safe, new_transaction_path(garin: current_user.garin) if user_signed_in? %>
  <div class="hamburger block">
    <button class="flex items-center" type="button" name="button">
      <i class='material-icons text-white text-5xl'>menu</i>
    </button>
  </div>
</nav>
